<a href="https://colab.research.google.com/github/jyothigundemeda/FMML-Module-5-Project/blob/main/Copy_of_10april.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 conversion of km to m
km = float(input("enter in km: "))
converstion = 0.621371
miles = km*converstion
print("convertsion of km in miles:", miles)

enter in km: 45
convertsion of km in miles: 27.961695

In [ ]:
#2 GCD two numbers in python
import math
a = int(input("enter first number: "))
b = int(input("enter second numbrer: "))
print("the gcd of a and b:", end="")
print(math.gcd(a,b))

enter first number: 60
enter second numbrer: 48
the gcd of a and b:12

In [ ]:
#transpose of a matrix
n = 4
def transpose(a,b):
 for i in range(n):
  for j in range(n):
    b[i][j] = a[j][i]
a = [[1, 1, 1, 1],
 [2, 2, 2, 2],
 [3, 3, 3, 3],
 [4, 4, 4, 4]]
b = a[:][:]
transpose(a,b)
print("result of matrix is :")
for i in range(n):
  for j in range(n):
    print(b[i][j], " ", end="")
  print()

result of matrix is :
1  2  3  4
2  2  3  4
3  3  3  4
4  4  4  4

In [ ]:
#4 calendar
import math
import calendar
yy = int(input("enter year:"))
mm = int(input("enter month:"))
print(calendar.month(yy, mm))

enter year:2004
enter month:3
     March 2004
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
#5
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

In [ ]:
#6
def remove_first_occurrence(arr, element):
    try:
        arr.remove(element)  # Remove the first occurrence of the specified element
        return arr
    except ValueError:
        return arr
my_array = [1, 2, 3, 4, 2, 5, 6]
element_to_remove = 2
modified_array = remove_first_occurrence(my_array, element_to_remove)

print("Original Array:", my_array)
print("Modified Array:", modified_array)

Original Array: [1, 3, 4, 2, 5, 6]
Modified Array: [1, 3, 4, 2, 5, 6]

In [ ]:
#7
values = ['apple', 'banana', 'orange', 'grapes', 'kiwi', 'watermelon', 'pear']
filtered_values = list(filter(lambda x: len(x) == 6, values))
print("Values with length 6:", filtered_values)

Values with length 6: ['banana', 'orange', 'grapes']

In [ ]:
#8
def find_max_product_pair(arr):
    if len(arr) < 2:
        return "Array should have at least two elements."

    max_product = float('-inf')
    max_pair = ()

    for i in range(len(arr)):
        for j in range(i + 1, len(arr)):
            product = arr[i] * arr[j]
            if product > max_product:
                max_product = product
                max_pair = (arr[i], arr[j])
    return max_pair
numbers = [1, 2, 3, 4, 5, 6]
result = find_max_product_pair(numbers)
print("Pair with the highest product:", result)

Pair with the highest product: (5, 6)

In [ ]:
#9
def power(a, b):
    if b == 0:
        return 1
    elif b > 0:
        return a * power(a, b - 1)
    else:
        return 1 / power(a, -b)
a = float(input("Enter the base (a): "))
b = int(input("Enter the exponent (b): "))
result = power(a, b)
print(f"{a} raised to the power of {b} is equal to {result}")

Enter the base (a): 5
Enter the exponent (b): 6
5.0 raised to the power of 6 is equal to 15625.0

In [ ]:
#10
def month_to_days_dict(month_name):
    months_dict = {
        'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31,
        'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31,
        'November': 30, 'December': 31
    }
    return months_dict.get(month_name.capitalize(), None)

month_name = input("Enter the month name: ")
days = month_to_days_dict(month_name)

if days is not None:
    print(f"{month_name} has {days} days.")
else:
    print("Invalid month name entered.")